<div class="user_container">
  <h2 class="user_title_txt"> Users profile number <%= params[:id] %> </h2>
  <section class="user_field">

    <article class="photo_field">
      <img src="<%= @user.photo %>">
    </article>

    <article class="user_desc">
      <h1 class="user_name"> <%= @user.name %> </h1>

      <p class="post_counter_field"> Number of posts: <span class="fw-bolder"><%= @user.post_counter || 0 %></span> </p>
    </article>

  </section>

  <section class="user_bio">
    <h2> Bio </h2>

    <p> <%= @user.bio %> </p>
  </section>

  <section>
    <% @user.three_most_recent_posts.each do |post| %>
      <article class="post_field">

        <%= link_to user_post_path(@user.id, post.id), id: "user_post #{post.id}" do %>
          <h4> <%= post.title %> </h4>
        <% end %>

        <p> <%= post.text %> </p>
        
        <div class="span_field">
          <p class="comment"> Comments: <span class=""><%= post.comments_counter || 0 %></span> </p>

          <p class="like"> Likes: <span class=""><%= post.likes_counter || 0 %></span> </p>
        </div>

      </article>
    <% end %>
  </section>

    <div class="btn_post_field">
      <button type="submit" class="all_post_btn"> <%= link_to 'See all posts', user_posts_path(@user) %> </button>
    </div>
</div>