<div class="user_container">
  <div class="btn_post_field">
    <button type="button" class="all_post_btn"><%= link_to "Create post", new_user_post_path %></button>
  </div>

  <section class="user_field">
    <article class="user_desc">
      <h2> <%= @user.name %> </h2>
      <p class="post_counter_field"> posts status: <%= @user.posts.length %> </p>
    </article>
  </section>

<% @user.posts.each do |post| %>
  <section class="">
  <article class="post_field">
    <%= link_to user_post_path(@user.id, post.id), id: "user_post #{post.id}" do %>
      <h4> <%= post.title %> </h4>
    <% end %>

    <p> <%= post.text %> </p>

    <div>
      <div>
        <span class="span_field"> Comments: <%= post.comments.size %> </span>
      </div>
    </div>
  </article>

  <article class="span_comment_fieldII">
    <div>
      <% unless post.comments.empty? %>
        <div>
          <% post.five_most_recent_comments.each do |comment| %>
            <div>
              <li> <%= comment.users.name %> : <%= comment.text %> </li>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </article>
  </section>
<% end %>

  <div class="pagination">
    <button type="submit" class="pagination_btn"> Pagination </button>
  </div>
</div>